# macOS
.DS_Store

# XCode
ReleaseVerify/ReleaseVerify-binary/ReleaseVerify-binary.xcodeproj/project.xcworkspace/xcuserdata/*
ReleaseVerify/ReleaseVerify-xcframework/ReleaseVerify-xcframework.xcodeproj/project.xcworkspace/xcuserdata/*
ReleaseVerify/ReleaseVerify-xcframework/ReleaseVerify-xcframework.xcodeproj/xcuserdata/*
ReleaseVerify/ReleaseVerify-xcframework/Frameworks/*

#SPM
.build
Package.resolved
Package.swift

